
<div class="container">
    <h1>Checkout disponible en el próximo Sprint</h1>
    <div class="buttons">
        <a href="/cart">Volver al carrito</a>
        <a href="/">Volver al inicio</a>
    </div>
</div>
<%- include('layouts/footer') %>

<script src="/js/dropdown.js"></script>
<script src="/js/search.js"></script>