<div class="user-menu-wrapper">
    <div class="dropdown" id="userDropdown">
        <div class="dropdown-header">
            <div class="dropdown-avatar">
                <img src="https://i.pravatar.cc/40" alt="Avatar" />
            </div>
            <span class="dropdown-name">Olivia</span>
        </div>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#">Inicio</a>
        <a class="dropdown-item" href="#">Mis Compras</a>
        <a class="dropdown-item" href="#">Favoritos</a>
        <a class="dropdown-item" href="#">Historial</a>

        <div class="dropdown-footer">
            <div class="theme-toggle" id="themeToggle">Cambiar a Tema Claro</div>
        </div>
    </div>
</div>